    .titre{
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      margin-bottom: 40px;
      word-spacing: 20px;
      line-height: 60px;
    }
    p{
      font-family: 'Playfair Display', serif;
      text-align: left;
      width: 70%;
      word-spacing: 10px;
      font-size: 26px;
    }
    .Text1{
     width: 40%;
     padding: 20px;
     margin-left:140PX;
     margin-top: 80px;
     

    }
    #img2{ 
     width: 50% !important;
    }


#but1 {
  text-align: left;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #000000;
   font-family: Arial;
   font-size: 40px;
   font-weight: 600;
   padding: 5px;
   margin-top: 40px;
   background-color: #FFFFFF;
   border: solid #000000 2px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

#but1:hover {
   border: solid black 2px;
   background: var(--green_light);
   background-image: -webkit-linear-gradient(top, #A9E4C5, #539578);
   background-image: -moz-linear-gradient(top, #A9E4C5, #539578);
   background-image: -ms-linear-gradient(top, #A9E4C5, #539578);
   background-image: -o-linear-gradient(top, #A9E4C5, #539578);
   background-image: -webkit-gradient(to bottom, #A9E4C5, #539578);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}

@media ( max-width : 1030px ) {
 ._contenu{
  display: flex;
  flex-direction: column-reverse;
 }
 #img2{ 
     width: 100%;
    }
 .Text1{
     width: 100%;
     margin : 0px;
     text-align: center;
    }
 .titre{
  text-align: center;
 }   
 p{
  text-align: center;
  width: 80% ;
  margin-left: 10%;
  margin-right: 10%;
 }
 #but1{

 }
}
@media ( max-width : 450px ) {
 .titre{
  font-size: 30px;
 }
}